.page-header-banner {
    position: relative;
    min-height: 92px;
    margin-bottom: 21px;
    padding: 24px 21px;
    color: white;
    background-color: #124191;
    overflow: hidden;
}

.page-header-banner .h1{
    color: #ffffff;

}

.container{
    background-color: #fff;
}
.searchInput{
    padding: 34px 24px 0px 24px;
}

.fullTimeOnlyCheckbox{
    margin: 5px;
}